body{
    background: radial-gradient(rgb(255, 111, 16), rgb(238, 36, 36));
    display: flex;
    justify-content: center;
    align-content: center;
    height:100vh;
}

section{
    /* display: flex;
    justify-content: center;
    align-content: center; */
    text-align: center;
    /* flex-direction: column; */
    width:500px;
    height:500px;
    background-color: white;
    margin:0 auto;
    box-shadow: 0px 20px 20px 10px rgb(212, 212, 212);
    margin-top: 10%;
    border-radius: 15px;
    /* border:solid 5px lime; */
}

h1{
    font-size:50px;
    margin-bottom: 80px;
    background: radial-gradient(rgb(252, 149, 80), rgb(255, 78, 78));
    border-radius: 20px;
    padding: 10px;
}


button{
    margin:0 auto;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: black;
    /* background-color: rgb(74, 255, 74); */
    cursor: pointer;
}

button:hover{
    transition: 0.25s;
    background-color: greenyellow;
}

#startScreen{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    /* border: solid 5px blue; */
}

.gameButtons{
    display: flex;
}

.singleplayer, .multiplayer{
    margin:5px;
}

.singleplayer{
    background: radial-gradient(rgb(48, 224, 255), rgb(161, 65, 240));
    color: white;
}

.multiplayer{
    background: radial-gradient(rgb(29, 0, 192), rgb(1, 189, 79));
    color: white;
}
